# ASP.NET Core

# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Debug'

steps:
- task: DotNetCoreInstaller@0
  displayName: 'Install .NET Core SDK 2.2.300'
  name: install_dotnetcore_sdk
  enabled: true
  inputs:
    packageType: 'sdk'
    version: '2.2.300'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: 'src/Maduro.Catalog.sln'
  displayName: 'Build Solution'

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    arguments: '--configuration $(BuildConfiguration) /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura'
    projects: 'src/Maduro.Catalog.sln'
  displayName: '.NET Core Tests'

- script: |
    dotnet tool install -g dotnet-reportgenerator-globaltool
    reportgenerator -reports:$(Build.SourcesDirectory)/**/coverage.cobertura.xml -targetdir:$(CoverageOutput) -reporttypes:HtmlInline_AzurePipelines;Cobertura -assemblyFilters:-xunit*.*
  displayName: 'Generate Code Coverage Report'

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: '$(CoverageOutput)/Cobertura.xml'
    reportDirectory: '$(CoverageOutput)'
  displayName: 'Publish Code Coverage Report'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'Artifacts'
    publishLocation: 'Container'
  displayName: 'Publish Build Artifacts'
